<html>
<head>
{% extends 'base.html' %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<body>
<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Zaloguj się</h3>

                        <div class="panel-body">
                            <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                    					<div class="form-group d-flex justify-content-start">
						<button type="submit" class="btn btn-primary">Zaloguj</button>
					</div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}

</body>
</html>
